.menu-link{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20px 40px;
  width: 800px;
}

.menu-link a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 15px; 
  border: 1px solid #ea4c89;
  background-color: #ea4c89;
  color: #ffffff;
  width: 150px;
}

.titulo{
  text-align: center;
}

.detalhes-livro{
  display: flex;
  justify-content: center;
  gap: 80px;

  padding: 40px;
}

.area-imagem-livro img{
  height: 250px;
}

.informacoes-livro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.informacoes-livro p{
  width: 400px;
}

.area-acao{
  display: flex;
  gap: 50px;
  width: 350px;
}

.area-acao button{
  padding: 15px; 
  border: 1px solid #ea4c89;
  background-color: #ea4c89;
  color: #ffffff;
  width: 150px;
  cursor: pointer;
}

.area-acao button:hover{
  opacity: .8;
}