.menu-link{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20px 40px;
  width: 800px;
}

.menu-link a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 15px; 
  border: 1px solid #ea4c89;
  background-color: #ea4c89;
  color: #ffffff;
  width: 150px;
}

.titulo{
  text-align: center;
}

.desejados{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; 
  margin-top: 40px;
}